@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>Create a console application for .NET Core</div>
<div>Your application should take 2 command line argument. 
The first being the character you want to repeat and the second 
one being the number of times to repeat it. </div>
<div>The first argument can be any character and the second should 
always be a non-negative integer</div>
<div>Create a Controller, View, and Model class</div>
<div>Using these three classes to create an MVC command line application that
takes the command line arguments and displays a line of repeating characters 
(e.g. in the command line argument is 0 5 then the output should display 00000).</div>
<div>The goal of this assignment is to practice separation of concerns...</div>
