@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    PO Box 81893<br />
    Austin, TX 78708<br />
    <abbr title="Phone">P:</abbr>
    425.226.3620
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rivernina512@gmail.com">rivernina512@gmail.com</a><br />
</address>
