@{ 
    ViewData["Title"] = "FrontPage";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/styleFrontPages.css" />
</head>
<body>
    <p>
    <div class="text-center">
        <h3>@ViewData["Message"]</h3>
            @ViewBag.Repeating
    </div>
    </p>
</body>
</html>