@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My View</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World! (from the view)
    </div>

    <div>
        @if (DateTime.Now.Minute % 2 == 0)
        {
            Layout = "_MyLayout";
        }
        else
        {
            Layout = "_Layout";

        }
    </div>
</body>
</html>